APP_NAME="Bassform - VILT SSR"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=bassform
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

###############################################################################
#                         Project Specific Variables                          #
###############################################################################

# USED FOR APP METADATA | SEE: ./config/metadata.php
APP_AUTHOR="musimana"
APP_COPYRIGHT="MIT (2024)"
APP_DESCRIPTION="Laravel VILT stack template app with server-side rendering (SSR), Larastan, Pest & Dusk test suites. Created by Musimana."
APP_IMAGE_OPEN_GRAPH="resources/img/open-graph.png"
#APP_KEYWORDS="Musimana, Bassform, Laravel, VILT"
APP_LINK_PROJECT_REPO="https://github.com/musimana/bassform"
APP_USER_HOMEPAGE="dashboard"

# USED TO CONTROL DUSK TEST SETTINGS | SEE: ./config/dusk.php

## FRAMEWORK DUSK TEST SETTINGS
#DUSK_DRIVER_URL=chrome # Defaults to 'http://localhost:9515'
DUSK_HEADLESS_DISABLED=true # Set to false to run tests in headless mode
DUSK_START_MAXIMIZED=false # Set to false to run tests at given width & height

## PROJECT DUSK TEST SETTINGS
DUSK_PAUSE_LENGTH=1000 # milliseconds
DUSK_WAIT_LENGTH=5 # seconds
DUSK_SCREEN_WIDTH=1920 # pixels e.g. 1920, 1280, 962, 360
DUSK_SCREEN_HEIGHT=1080 # pixels e.g. 1080, 1024, 601 800

# USED TO CONTROL ALL TEST SETTINGS | SEE: ./config/tests.php

## PROJECT TEST DATA DEFAULTS
TESTS_DEFAULT_PASSWORD="Horse battery staple correct" # USED FOR TEST USERS CREATED FROM THE SEEDER | MIN 14 CHARACTERS
