includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 7

    ignoreErrors:

    excludePaths:
        - tests/Browser # 16 errors 2024-03-16, all `Call to an undefined method Laravel\Dusk\Browser::`
        - tests/Feature # 252 errors 2024-03-16
        - tests/Pest # 32 errors 2024-03-16
        - tests/Unit # 150 errors 2024-03-16
        - app/Providers/DuskServiceProvider.php # 8 errors 2024-02-01, all `Call to an undefined method App\Providers\DuskServiceProvider::`

    checkGenericClassInNonGenericObjectType: false
