includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 8

    excludePaths:
        - tests/Pest/Functions/CompositeTests # 5 errors 2024-03-29, whole directory needs refactoring

    ignoreErrors:
        - # Replaces `checkGenericClassInNonGenericObjectType: false`
            identifier: missingType.generics
        - # From the way the methods are inherited by Pest
            message: '#Call to an undefined method Pest\\#'
            path: tests
        - # To be fixed by adopting Pest syntax
            message: '#Undefined variable: \$this#'
            path: tests
        - # From the way the methods are inherited by the Browser object
            message: '#Call to an undefined method Laravel\\Dusk\\Browser::#'
            path: tests/Browser
            count: 23
        - # From the way the methods are inherited by Pest
            message: '#Function testNotifiedUpdate#'
            path: tests/Feature/Http/Controllers/Auth/PasswordForgottenControllerTest.php
            count: 5
        - # From the way the methods are inherited by Pest
            message: '#Access to an undefined property Pest\\Mixins\\Expectation\<App\\Models\\#'
            path: tests/Unit
            count: 2
