section.app-article p {
  @apply
    mb-4;
}

section.app-article p a {
  @apply
    inline-flex
    items-center
    hover:text-gray-900
    dark:hover:text-gray-50
    focus:outline
    focus:outline-2
    focus:rounded-sm
    focus:outline-gray-100;
}

section.app-article pre,
section.app-article ul {
  @apply
    mb-6;
}

section.app-article ul {
  @apply
    ml-8
    list-disc;
}

section.app-article ul.app-list-none {
  @apply
    ml-6
    list-none;
}

section.app-code-block code,
section.app-article pre {
  @apply
    border
    rounded-md
    border-blue-800
    dark:border-blue-200
    p-4;
}

section.app-code-block code,
section.app-article p code,
section.app-article pre {
  @apply
    bg-gray-100
    dark:bg-gray-900
    text-gray-950
    dark:text-white;
}

section.app-article p code {
  @apply font-mono px-2 py-1 rounded-sm;
}

section.app-article ul li i,
section.app-article p i
{
  @apply
    font-semibold
    text-gray-900
    dark:text-gray-100
    tracking-wide;
}
