section.app-article p {
  @apply
    mb-4;
}

section.app-article p a {
  @apply
    inline-flex
    items-center
    hover:text-gray-900
    dark:hover:text-gray-50
    focus:outline
    focus:outline-2
    focus:rounded-sm
    focus:outline-gray-100;
}

section.app-article pre,
section.app-article ul {
  @apply
    mb-6;
}

section.app-article ul {
  @apply
    ml-8
    list-disc;
}

section.app-article ul.app-list-none {
  @apply
    ml-6
    list-none;
}

section.app-code-block code,
section.app-article pre {
  @apply
    border
    rounded-md
    border-blue-800
    dark:border-blue-200
    p-4;
}

section.app-code-block code,
section.app-article p code,
section.app-article pre {
  @apply
    bg-gray-100
    dark:bg-gray-900
    text-gray-950
    dark:text-white;
}

section.app-article p code {
  @apply font-mono px-2 py-1 rounded-sm;
}

section.app-article ul li i,
section.app-article p i {
  @apply
    font-semibold
    tracking-wide;
}

section.app-article blockquote,
section.app-article q {
  @apply
    w-full
    text-lg
    text-gray-800
    dark:text-gray-200
    mb-8
    border-l-4
    border-gray-900
    dark:border-gray-300
    px-4
    py-2
    bg-gray-200
    dark:bg-gray-800;
}

section.app-article blockquote p,
section.app-article q p {
  @apply
    mb-0;
}

section.app-article blockquote p i,
section.app-article blockquote ul li i,
section.app-article q p i,
section.app-article q ul li i {
  @apply
    font-normal
    tracking-widest;
}

section.app-article table {
  @apply
    table-auto
    mb-12
    mx-8;
}

section.app-article thead {
  @apply
    mb-2
    border-b
    border-gray-900
    pb-2
    dark:border-gray-100;
}

section.app-article tbody {
  @apply
    mt-2;
}

section.app-article tr {
  @apply
    text-left;
}

section.app-article td,
section.app-article th {
  @apply
    p-2;
}
