.app-button-base {
  @apply
    inline-flex
    items-center
    border
    px-4
    py-2
    rounded-md
    font-semibold
    text-xs
    uppercase
    tracking-widest
    active:bg-gray-900
    focus:outline-none
    focus:ring-2
    focus:ring-blue-200
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150
    disabled:opacity-25;
}

.app-button-primary-gray-900 {
  @apply
    bg-gray-900
    border-gray-600
    text-gray-100
    hover:bg-gray-600
    focus:bg-gray-600
    active:bg-gray-950;
}

.app-button-primary-red-600 {
  @apply
    bg-red-600
    border-transparent
    text-gray-100
    hover:bg-red-500 
    focus:ring-red-500
    active:bg-red-700;
}

.app-button-secondary-gray-100 {
  @apply
    bg-gray-100
    border-gray-300
    text-gray-900
    shadow-sm
    hover:bg-gray-100
    focus:bg-gray-100
    active:bg-gray-200;
}
